body{
	padding-top:50px;
    margin: 0;
    padding: 0;
    background color:black;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.registerbox{
    width: 400px;
    height: 600px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.loginbox{
    width: 400px;
    height: 340px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.managerbox{
    width: 400px;
    height: 340px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.listing{
    width: 500px;
    height: 440px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"], input["email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="button"]
{

    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
	text-outline:#A2181A;
}

.registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.registerbox input{
    width: 100%;
    margin-bottom: 20px;
}

.registerbox input[type="text"], input[type="password"], input["email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.registerbox input[type="button"]
{

    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
	text-outline:#A2181A;
}

.managerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.managerbox input{
    width: 100%;
    margin-bottom: 20px;
}

.managerbox input[type="text"], input[type="password"], input["email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.managerbox input[type="button"]
{

    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
	text-outline:#A2181A;
}
.listing p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.listing input{
    width: 100%;
    margin-bottom: 20px;
}

.listing input[type="text"], input[type="password"], input["email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.listing input[type="button"]
{

    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
	text-outline:#A2181A;
	align-content:center;
}

.button {
    background-color: #fb2525; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
	position: absolute;
    display: inline-block;
    font-size: 16px;
}

.wrappper {
    text-align: center;
}
